*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#eef4ef;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:95%;
    max-width:550px;
    background:#fff;
    padding:25px;
    border-radius:18px;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
}

h1{
    text-align:center;
    color:#0b7a33;
    margin-bottom:20px;
}

input{
    width:100%;
    padding:14px;
    border:2px solid #0b7a33;
    border-radius:10px;
    font-size:16px;
    margin-bottom:15px;
}

button{
    width:100%;
    padding:14px;
    background:#0b7a33;
    color:#fff;
    border:none;
    border-radius:10px;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#085c26;
}

#customerDetails{
    margin-top:25px;
    background:#f7fff8;
    border-left:5px solid #0b7a33;
    border-radius:12px;
    padding:18px;
}

#customerDetails h2{
    text-align:center;
    color:#0b7a33;
    margin-bottom:15px;
}

p{
    margin:12px 0;
    font-size:17px;
}

b{
    color:#222;
}

.timeline{
    margin-top:20px;
    border-left:4px solid #0b7a33;
    padding-left:18px;
}

.step{
    position:relative;
    margin:18px 0;
    font-size:16px;
    font-weight:600;
    color:#333;
}

.step::before{
    content:"";
    position:absolute;
    left:-27px;
    top:4px;
    width:14px;
    height:14px;
    border-radius:50%;
    background:#cfcfcf;
}

.step.active{
    color:#0b7a33;
}

.step.active::before{
    background:#0b7a33;
    box-shadow:0 0 10px #0b7a33;
}

h3{
    margin-top:20px;
    color:#0b7a33;
    text-align:center;
    }
